// Colors
$bg-color: #f9fafb;
$primary-text-color: #37474f;
$secondary-text-color: #546e7a;
$white: #fff;
$border-color-1: #eceff1;
$box-shadow-1: #dadada;

// media queries

$media-md-1: 830px;
$media-md-2: 550px;
$media-sm-1: 440px;
$media-sm-2: 321px;
